<div class="header-container">
    <div>
        <h1>Amirah Parman</h1>
        <h2 class="my-designation">Senior Learning & Development expert | Aspiring Web Developer</h2>
        <p>
            A certified trainer with over 7 years of experience in Learning & Development serving various industries including Automotive, Retail, e-Commerce & Business Processing outsourcing (BPO). Able and has conducted Training Needs Analysis (TNA) with success in the onboarding of new projects.</p>
            <p>Has an interest in Web Development and is learning Web development tools such as HTML, CSS, and JavaScript.
           Have created personal projects and is eager to learn more advanced skills and technologies.
            Seeking towards contributing towards the greater success of human development, company development, and self-development.</p>
    </div>
</div>