<div class="container">
   <div> <div class="header">
        <h1>Job Experience Description</h1>
        <p>This page contains more details about my work experience and achievements. Here, I will explain what I did in
            each of my previous roles, what skills I learned, and what challenges I faced. I will also share some of the
            projects that I am most proud of and how they contributed to the success of the organizations I worked for.
            My goal is to give you a better understanding of my qualifications and suitability for the position I am
            applying for.</p>
    </div>
    <div class="content-container"><app-job-descriptions></app-job-descriptions></div></div>
<div class="navigation-container">
    <div class="sticky-navigator">
        <a href="#TDCX">TDCX</a>
        <a href="#LZD">Lazada</a>
        <a href="#STM">Stream</a>
        <a href="#PTN">Proton</a>
        <a href="#TYT">Toyota</a>
    </div>
</div></div>
