<h2>Education</h2>
<div class="container-education" *ngFor="let data of datas">
    <div class="date-container">
        <p>{{data.fromDate | date:'MMM y'}} - {{data.toDate | date:'MMM y'}}</p>
    </div>
    <div class="education-details-container">
        <span>{{data.uniName}}</span>
        <span>{{data.cgpa}}</span>
        <div *ngIf="data.achievements.length > 0">
            <p>Achievements</p>
            <ul>
                <li *ngFor="let achievement of data.achievements">
                    {{achievement}}
                </li>
            </ul>
        </div>
        <div *ngIf="data.volunteerWorks.length >0">
            <p>volunteer Work</p>
            <ul>
                <li *ngFor="let volunteerWork of data.volunteerWorks">
                    {{volunteerWork}}
                </li>
            </ul>
        </div>
        <div *ngIf="data.subjects.length > 0">
            <p>subjects</p>
            <ul>
                <li *ngFor="let subject of data.subjects">
                    {{subject}}
                </li>
            </ul>
        </div>
    </div>
</div>