.container-education {
    display: flex;
}

.date-container {
    padding-top: 0.5rem;
    width: 170px;
}

.education-details-container {
    padding: 0.5rem;
    width: max-content;
    padding-left: 1rem;   

}
.sub-title{
    font-weight: bold;
}