<div class="header-container">
    <div>
        <div class="dot"></div>
    </div>
    <div>
        <h1>Amirah Parman</h1>
        <h2>Senior L&D export</h2>
        <p>
            As an English for Professional Communication graduate, I am a certified trainer with
            over 7 years of experience specializing in the English language, soft skills, product and
            corporate training. Able and has conducted Training Need Analysis (TNA). Highly
            motivated and possesses excellent time management and communication skills.
            Seeking towards contributing towards greater success of human development,
            company’s development and self development.
            I believe my education background, skills and work experience are able to help
            myself as well as the company to strive its goal and objectives
        </p>
    </div>
</div>