div.header-container {
    display: flex;
}

div.header-container * {
    border: 1px solid red;
}

div.dot {
    height: 225px;
    width: 225px;
    background-color: #140636;
    border-radius: 50%;
    display: inline-block;
}
