<div class="container">
    <div>
        <div class="header">
            <h1>Gallery</h1>
            <p>This is my gallery page, where I display some of the photos of my achievements and projects throughout my
                career. <br><br>
                This gallery page is also for my preservation and reflection, as it showcases the achievements and
                projects that have contributed to my personal and professional growth. I value these photos and the
                insights they offer, and I look forward to expanding them in the future</p>
        </div>
        <div class="content-container">insert interpolation for photos here</div>
    </div>
</div>