<div class="container">
    <div>
        <header class="header">
            <h1>Gallery</h1>
            <p>This is my gallery page, where I display some of the photos of my achievements and projects from my
                recent experience.<br><br>
                This gallery page is also for my preservation and reflection, as it showcases the achievements and
                projects that have contributed to my personal and professional growth. I value these photos and the
                insights they offer, and I look forward to expanding them in the future.</p>
        </header>
        <div class="content-container">
            <div class="displayed-image"><img [src]="displayedImage" /></div>
            <div class="thumbnails-container">
                <div class="image-slide" *ngFor="let image of images"
                    (click)="changeDisplayImage(image.imageSrc, image.id)"
                    [ngClass]="{'active-image': image.id == activeImage}">
                    <img [src]="image.imageSrc" [alt]="image.alt">
                </div>
            </div>
        </div>
    </div>
</div>