<div class="information-container">
    <span>🌍 {{data.location}}</span>  <span class="divider">|</span>
    <span>📳 <a [href]="'tel:' + data.phoneNumber">{{data.phoneNumber}}</a></span>
    <span class="divider">|</span>
    <span>📧 <a [href]="'mailto:' + data.emailAddress +'?subject=Hi Amirah, lets connect!'">{{data.emailAddress}}</a>
    </span>  <span class="divider">|</span>
    <span>🎂 {{data.birthDate | date: 'yyyy-MM-dd'}}</span>  <span class="divider">|</span>
    <span>✅ {{data.workPermitToShow()}} </span>
</div>