<div class="header-container">
  <button class="not-in-print print-button" type="button" (click)="print()"><i class='bx bx-printer'
      style='color:#625959'></i> Print resume</button>
  <h1>Amirah Parman</h1>
  <h2 class="my-designation">Senior Learning & Development expert | Aspiring Web Developer</h2>
  <p>
    A certified trainer with over 7 years of experience in Learning & Development serving various industries including
    Automotive, Retail, e-Commerce & Business Processing outsourcing (BPO). Able and has conducted Training Needs
    Analysis (TNA) with success in the onboarding of new projects.</p>
  <p>Has great interest in Web Development and is learning Web development tools such as HTML, CSS, and JavaScript.
    Enjoys learning by creating projects and is eager to learn more advanced skills and technologies.
  </p>
  <p>I am highly motivated and possesses excellent time management and communication skills. Seeking towards
    contributing towards the greater success of human development, company development, and self-development.
  </p>
</div>