<header class="header-container">
  <button class="not-in-print print-button" type="button" (click)="print()"><i class='bx bx-printer'
      style='color:#625959'></i> Print resume</button>
  <h1>Amirah Parman</h1>
  <h2 class="my-designation">Digital Learning & Development Specialist</h2>
  <p>
    Certified Trainer with 7+ years of experience in Learning & Development across various industries including
    Automation, Automotive,
    Retail, e-Commerce & Business Processing outsourcing (BPO). Expert in conducting Training Needs Analysis, designing
    curriculum, and delivering engaging sessions. Led and managed 15+ projects with successful onboarding and improved
    employee, client, and customer retention through effective training programs.
  </p>
  <p> Enjoys learning by creating projects and is eager to learn advanced skills and technologies.
  </p>
  <p>I am a motivated, organized, and communicative professional seeking to contribute to human development, company
    growth, and self-improvement.
  </p>
</header>