.container {
    display: flex;
    flex-direction: row;
    width: 90%;
}

.tabs {
    display: flex;
    flex-direction: row;
    margin: 0.7em 0em 3.5px 0em ;
    .tabs-title {
        margin: 10px;
        width: max-content;
    }
}