<div class="container">
    <div class="content-container">
        <div class="header">
            <div class="about-me" id="about-me">
                <app-about-me></app-about-me>
                <app-personal-info></app-personal-info>
            </div>
        </div>
        <div class="content-of-resume-container" >
            <div class="left-column">
                <div class="experience" >
                    <app-experiences></app-experiences>
                </div>
                <hr>
                <div class="skills" id="skills">
                    <app-skills></app-skills>
                </div>
                <hr>
                <div class="certifications" id="certifications">
                    <app-certifications></app-certifications>
                </div>
                <hr>
                <div class="education" id="education">
                    <app-educations></app-educations>
                </div>
                <hr>
            </div>

            <div class="right-column" id="referrals">
                <div class="referrals" id="referrals">
                    <app-referrals></app-referrals>
                </div>
            </div>
        </div>
    </div>
    <div class="navigation-container">
        <div class="sticky-navigator">
            <a href="#about-me">About me</a>
            <a href="#experience">Work experience</a>
            <a href="#skills">Skills & Proficiency</a>
            <a href="#certifications">Certifications</a>
            <a href="#education">Education</a>
            <a href="#referrals">Referrals</a>
        </div>
    </div>
</div>