.container {
    width: 90%;
}

.header {
    display: flex;
}

.about-me{
    width: 55%;
}

.navigation{
    width: 30%;
    padding-left: 4rem;
}

.personal-info{
   margin-top: 0;
}


.content-of-resume-container{
    display: flex;
}

.right-colum{
    width: 100%;
    padding-right: 1.5px;

}

.experience{
    width:60%;
}