div.container {
    display: flex;
    width: 90%;

    div.content-container {
        display: flex;
        flex-direction: column;
    }

    div.navigation-container {
        padding: 1rem;
    }
}

div.sticky-navigator {
    position: sticky;
    top: 9px;
    width: max-content;
}

.header {
    display: flex;
    border-radius: 6px;
    background-color: white;
    padding: 2em;
    margin-bottom: 5px;
}

.personal-info {
    margin-top: 0;
}

.content-of-resume-container {
    display: flex;
    border-radius: 6px;
    background-color: white;
    padding: 2em;
}

.left-column {
    flex-grow: 1;
}

.right-column {
    padding-right: 1.5px;
    flex-grow: 0.5;
}

.button-back-to-top {
    border: 3px solid yellow;
}

@media only screen and (width < 600px) {
    div.container {
        width: 100%;
    }
}