.container {
    display: flex;
    width: 98%;
}

.header {
    display: flex;
    border-radius: 6px;
    background-color: white;
    padding: 2em;
    margin-bottom: 5px;
}

.navigation {
    padding-left: 1rem;
    width: 70%;
}

.personal-info {
    margin-top: 0;
}


.content-of-resume-container {
    display: flex;
    border-radius: 6px;
    background-color: white;
    padding: 2em;
}

.left-column {
    flex-grow: 1;
}

.right-column {
    padding-right: 1.5px;
    flex-grow: 0.4;
    width: 40%;
}

.separating-navigation {
    padding: 4em 0em 0em 2em;
}