<div class="container">
    <div class="left-column">
        <div class="personal-info">
            <app-personal-info></app-personal-info>
        </div>

        <div class="skills">
            <app-skills></app-skills>
        </div>

        <div class="certifications">
            <app-certifications></app-certifications>
        </div>

        <div class="referrals">
            <app-referrals></app-referrals>
        </div>
    </div>

    <div class="right-column">
        <div class="about-me">
            <app-about-me></app-about-me>
        </div>

        <div class="experience">
            <app-experiences></app-experiences>
        </div>

        <div class="education">
            <app-educations></app-educations>
        </div>
    </div>
</div>