.container {
    display: flex;
    
}

.right-column {
    padding: 0.5rem;
    width: max-content;
    padding-left: 1rem;   
}

.leftColumn{
    padding-top: 0.5rem;
    width: 170px;
}

h3 {
    margin-bottom: 4px;
}

.year-of-working{
    text-align: center;
}

.total-working-duration{
    font-size: small;
}