.container {
    display: flex;
}

.section-title{
    padding:3px 0px 1px 5px;
    width: 20%;
}

.elaboration-of-experience-column {
    padding-left: 1rem;
    width: 70%;
}

.date-experience-column {
    padding-top: 0.5rem;
    width: 170px;
}

h3 {
    margin-bottom: 4px;
}

.year-of-working {
    text-align: center;
}

.total-working-duration {
    font-size: small;
}

.label-industry {
    font-size: x-small;
    background-color: #0066ff;
    color: white;
    border-radius: 4px;
    width: max-content;
    padding: 2px;
    margin-top: 5px;
    min-width: 100px;
}

.label-industry-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}