<div>
    <h2 class="section-title">Experience</h2>
    <div class="container" *ngFor="let data of datas">
        <div class="year-of-working">
            <p class="leftColumn">{{data.fromDate | date:'MMM y'}} - {{data.toDate | date:'MMM y'}}</p>
            <span class="total-working-duration">{{data.calculatedYears()}} </span>
        </div>
        <div class="right-column">
            <h3>{{data.positionHeld}}</h3>
            <span>{{data.company}}</span>
            <ul>
                <li *ngFor="let responsibility of data.responsibilities">
                    {{responsibility}}
                </li>
            </ul>
        </div>
    </div>
</div>