<div class="container">
    <div>
        <header class="header">
            <h1>Job Experience Description</h1>
            <p>This page showcases my work experience in different companies and roles.<br><br>
                Here, I will summarize my responsibilities, achievements, and skills in each position, as well as the
                processes I followed and the
                outcomes I delivered. <br><br>
                This will demonstrate my qualifications and suitability for the roles I held and the role I seek for in
                Learning & Development.
            </p>
        </header>
        <div class="content-container"><app-job-descriptions></app-job-descriptions></div>
    </div>
    <div class="navigation-container">
        <div class="sticky-navigator">
            <a routerLink="." fragment="Piab">Piab AB, Stockholm</a>
            <a routerLink="." fragment="TDCX">TDCX Malaysia</a>
            <a routerLink="." fragment="LZD">Ecart Services Malaysia (Lazada Malaysia)</a>
            <a routerLink="." fragment="STM">Stream Enterprise (M) Sdn Bhd</a>
            <a routerLink="." fragment="PTN">Proton Edar Sdn Bhd</a>
            <a routerLink="." fragment="TYT">UMW Toyota Motor Sdn Bhd</a>
        </div>
    </div>
</div>