.container-education {
    display: flex;
}

.date-container {
    padding-top: 0.5rem;
}

.education-details-container {
    padding: 0.5rem;
    padding-left: 1rem;   
}
.sub-title{
    font-weight: bold;
}