.jd-container {
    display: flex;
flex-direction: column;
}

.jd-content-container {
display: flex;
flex-direction: row;
padding-bottom: 3em;
}

.systems-input-container {
    margin-top: 3em;
    padding: 2.5rem;
}

