.jd-container {
    display: flex;
    flex-direction: column;
}

.company {
    font-weight: bold;
    padding-bottom: 15px;
}

ul {
    display: inline-flex;
    list-style: none;
    padding: 0;

    li {
        background-color: #083D77;
        color: white;
        border-radius: 3px;
        width: max-content;
        padding: 5px;
        margin: 5px;
        min-width: 100px;
        text-align: center;
        font-size: small;
    }
}

.years-container {
    display: inline-flex;

    p.years-of-experience {
        margin-left: 10px;
        font-style: italic;
    }
}