<div class="jd-container">
    <div class="jd-content-container" *ngFor="let data of datas">
        <div>
            <h1 [id]="data.id"></h1>
            <div class="years-container">
                <p>{{data.fromDate | date:'MMM y'}} - {{data.toDate | date:'MMM y'}}</p>
                <p class="years-of-experience">({{data.calculatedYears()}})</p>
            </div>
            <div class="company">{{data.company}}</div>
            <div>{{data.description}}</div>
        </div>
        <div>
            <ul *ngFor="let system of data.systems">
                <li>{{[system]}}</li>
            </ul>
        </div>
    </div>
</div>