@import '~normalize.css';
@import '~boxicons/css/boxicons.css';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Parisienne&display=swap');

/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Muli', sans-serif;
    background-color: #efefef;
    width: 100%;
}

app-root {
    display: flex;
    justify-content: center;
}

//pages
h1,
h2 {
    color: #343a40;
}

h2.section-title {
    padding: 3px 0px 1px 5px;
}


a {
    text-decoration: none;

}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    border-radius: 6px;
    background-color: white;
    padding: 2em;
    margin-bottom: 15px;
    flex-direction: column;
}


div.sticky-navigator {
    position: sticky;
    top: 9px;
    width: 186px;
    min-width: 9.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

div.navigation-container {
    padding-left: 1rem;
}

div.container {
    display: flex;
    width: 90%;

    div.content-container {
        border-radius: 6px;
        background-color: white;
        padding: 2em;
    }
}

.only-in-print {
    display: none;
}

.main-container {
    width: 90%;
}

@media print {
    div.container {
        width: 100%;
    }

    .not-in-print {
        display: none;
    }

    .only-in-print {
        display: inline-block;
    }

    p,
    span {
        font-size: 14px;
    }

    div {
        font-size: 13px;
    }

    .section-title-print {
        font-size: 17px;
    }

    hr {
        border-color: #F3F5F6;
        opacity: 40%;
    }

    .main-container {
        width: 100%;
    }
}

@media only screen and (width < 600px) {
    div.container {
        width: 100%;
    }

    div.navigation-container {
        display: none;
    }

    div.main-container {
        width: 95%;
    }
}